<div>
  <%= @user.name %>
  <%= image_tag @user.get_profile_image(100, 100) %>
  <p>
    <% if @user == current_user %>
      <%= link_to "プロフィールを編集する", edit_user_path(@user) %>
    <% end %>
  </p>
</div>

<%= render "post_images/list", post_images: @post_images %>
